{% extends "layout.html" %}

{% block title %}
    Transaction history
{% endblock %}

{% block main %}
    <table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Company</th>
      <th scope="col">Operation date</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
        {% for transaction in history %}
            <tr>
                    <td>{{ transaction['name'] }}</td>
                    <td>{{ transaction['companyName'] }}</td>
                    <td>{{ transaction['date'] }}</td>
                    <td>{{ transaction['quantity'] }}</td>
                    <td>{{ transaction['price'] }}</td>
            </tr>
        {% endfor %}
    </tr>
  </tbody>
    <tfoot>
            <tr>
                <td colspan="4"></td>
                <td style="font-weight:bold">Summary {{ all }}</td>
            </tr>
        </tfoot>
</table>
{% endblock %}
